---
layout: layouts/page.njk
title: Design Solutions for Social Impact
description: We help purpose-driven brands and organizations solve problems through strategy, design, and technology. Learn more about who we are and what we do at Good Neighbor Agency.
---

{% import "partials/macros.njk" as macro with context %}

{% for section in collections.sections %}

  <section id="{{ section.data.title | lower }}">

    <!-- Section Header -->
    {{ macro.sectionHeader(section.data.header.mainHeading, section.data.header.subHeading) }}

    <!-- Section Content -->
    <div class="content">

      <div class="lock">
        {% for block in section.data.blocks %}

          {% include "partials/blocks.njk" %}

        {% endfor %}
      </div>

    </div>

  </section>

{% endfor %}
