---
layout: layouts/page.njk
title: Digital Solutions for Social Impact
description: This is the homepage
---

{% import "partials/macros.njk" as macro with context %}

{% for section in collections.sections %}

  <section id="{{ section.data.title | lower }}">

    <!-- Section Header -->
    {{ macro.sectionHeader(section.data.header.mainHeading, section.data.header.subHeading) }}

    <!-- Section Content -->
    <div class="content">

    {% include "partials/blocks.njk" %}

    </div>

  </section>

{% endfor %}
