/*== Variables ==*/

/* Import fonts */

@font-face {

  font-family: 'DM Serif Display';
  font-weight: 400;
  font-style: normal;
  src: local('DM Serif Display Regular'), url('/assets/css/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Open Sans Regular'), url('/assets/css/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Open Sans Bold'), url('/assets/css/fonts/OpenSans-Bold.ttf') format('truetype');
  font-display: swap;

}

:root {

  /* Fonts */
  --system-font: Times, Georgia, serif;
  --heading-font: 'DM Serif Display', Times, serif;
  --body-font: 'Open Sans', Arial, sans-serif;

  /* Colors */
  --pink: #ff7473;
  --purple: #34314c;
  --yellow: #ffc952;
  --white: #fff;

  /* Breakpoints (for reference only - CSS variables can't be used in media queries) */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;


}

/*== Global Styles ==*/

/* Resets */

/* Universal box sizing > includes padding and border,
but NOT margin, in total box size */
*, *:before, *:after {

  box-sizing: border-box;

}

/* Removes margin & padding from all browsers */
html, body, div, ul, li,
h1, h2, h3, h4, h5, h6 {

  margin: 0;
  padding: 0;

}

/* Removes underline from all link states */
a:link, a:visited, a:hover, a:active {

  text-decoration: none;

}

/* Make images easier to work with */
img {

  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;

}

/* Screen readers only */
.sr-only, .sr-only-focusable {

  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;

}

.sr-only-focusable:focus {

  position: relative;
  width: auto;
  height: auto;
  padding: inherit;
  margin: inherit;
  clip: initial;
  border: initial;

}

/*== Common Styles ==*/

/* Set default scroll behavior */
html {

  scroll-behavior: smooth;

}

@media (min-width: 768px) {

  html {

    overflow: hidden;

  }

}

/* Shared lock */
.lock {

  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 2rem;

}

/* Initially load system font while custom fonts load */
body, h1, h2, h3 {

  color: var(--purple);
  font-family: var(--system-font);

}

h1 {

  font-size: clamp(3.157rem, 5.56vw, 5.61rem);
  line-height: 75%;
  letter-spacing: -1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, var(--yellow), var(--yellow));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 10px;
  padding: 0 3px 18px 3px;

}

h2 {

  font-size: clamp(2.369rem, 2.78vw, 4.209rem);
  line-height: 75%;

}

h3 {

  font-size: clamp(1.777rem, 1.39vw, 3.157rem);
  line-height: 75%;

}

p {

  font-size: clamp(1rem, 1.25vw, 1.125rem);

}

p.sub-heading {

  font-size: clamp(1rem, 1.39vw, 1.25rem);

}

/* Replace system font with custom fonts once loaded */
.fonts-loaded body {

  font-family: var(--body-font);

}

.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3 {

  font-family: var(--heading-font);

}

/* Set core body defaults */
body {

  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;

}

/* Header menu styles */
header#menu {

  position: fixed;
  width: 100%;

}

header#menu .lock {

  padding: 1rem 2rem;

}

header#menu nav {

  text-align: right;

}

header#menu nav a {

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--purple);
  background-image: linear-gradient(to right, var(--yellow), var(--yellow));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 5px;
  margin: 0 1rem;
  padding-bottom: 5px;
  transition: background-size 0.25s;

}

header#menu nav a::after {

  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 700;

}

header#menu nav a:hover,
header#menu nav a:focus,
header#menu nav a.active {

  font-weight: 700;
  background-size: 100% 5px;

}

/*== Section Styles ==*/

section header {

  display: flex;
  align-items: flex-end;
  min-height: 300px;

}

section header > .lock h1 {

  display: inline-block;

}

@media (min-width: 768px) {

  section header {

    height: 45vh;

  }

  section .content {

    height: 55vh;

  }

}

#home header {

  background-color: rgba(255, 116, 115, 0.65);

}

#about header {

  background-color: rgba(255, 201, 82, 0.65);

}

#clients header {

  background-color: rgba(71, 184, 224, 0.65);

}

#work header {

  background-color: rgba(197, 233, 155, 0.65);

}

#contact header {

  background-color: rgba(213, 159, 255, 0.65);

}

/*== Block Styles ==*/

/* Section Content custom margin & lock */

.content > div {

  margin: 2rem 0;
  
}

.content > div .lock {

  padding: 0 2rem;

}

/* Image Grid block */

.image-grid .container {

  position: relative;
  height: 275px;
  overflow: hidden;

}

.image-grid .container:not(:last-child) {

  margin: 0 0 1rem 0;

}

.image-grid .container img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.image-grid .container .text-overlay .sub-heading {

  font-weight: 700;

}

.image-grid .container .text-overlay {

  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 116, 115, 0.85);
  width: 100%;
  height: 0;
  padding: 2rem;
  transition: height 0.5s;

}

.image-grid .container .text-overlay .wrapper {

  opacity: 0;
  height: 0;
  transition: all 0.75s;

}

.image-grid .container:hover .text-overlay,
.image-grid .container:focus .text-overlay,
.image-grid .container:hover .text-overlay .wrapper,
.image-grid .container:focus .text-overlay .wrapper {

  opacity: 1;
  height: 100%;

}

@media (min-width: 768px) {

  .image-grid .lock {

    display: flex;
    padding: 0 2rem;

  }

  .image-grid .container:not(:last-child) {

    margin: 0 1rem 0 0;

  }

}
