/*== Variables ==*/

/* Import fonts */

@font-face {

  font-family: 'DM Serif Display';
  font-weight: 400;
  font-style: normal;
  src: local('DM Serif Display Regular'), url('/assets/css/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  src: local('Open Sans Regular'), url('/assets/css/fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;

}

@font-face {

  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: local('Open Sans Bold'), url('/assets/css/fonts/OpenSans-Bold.ttf') format('truetype');
  font-display: swap;

}

:root {

  /* Fonts */
  --system-font: Times, Georgia, serif;
  --heading-font: 'DM Serif Display', Times, serif;
  --body-font: 'Open Sans', Arial, sans-serif;

  /* Colors */
  --pink: #ff7473;
  --purple: #34314c;
  --yellow: #ffc952;
  --white: #fff;

  /* Breakpoints (for reference only - CSS variables can't be used in media queries) */
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;


}

/*== Global Styles ==*/

/* Resets */

/* Universal box sizing > includes padding and border,
but NOT margin, in total box size */

*, *:before, *:after {

  box-sizing: border-box;

}

/* Removes margin & padding from all browsers */

html, body, div, ul, li,
h1, h2, h3, h4, h5, h6 {

  margin: 0;
  padding: 0;

}

/* Removes underline from all link states */

a:link, a:visited, a:hover, a:active {

  text-decoration: none;

}

/* Make images easier to work with */
img {

  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;

}

/* Screen readers only */

.sr-only, .sr-only-focusable {

  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;

}

.sr-only-focusable:focus {

  position: relative;
  width: auto;
  height: auto;
  padding: inherit;
  margin: inherit;
  clip: initial;
  border: initial;

}

/*== Common Styles ==*/

/* Set default scroll behavior */

html {

  scroll-behavior: smooth;

}

/* Initially load system font while custom fonts load */

body, h1, h2, h3 {

  color: var(--purple);
  font-family: var(--system-font);

}

h1 {

  font-size: clamp(3.75rem, 5.56vw, 5rem);
  line-height: 75%;
  letter-spacing: -1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(to right, var(--yellow), var(--yellow));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 10px;
  padding: 0 3px 18px 3px;

}

h2 {

  font-size: clamp(1.87rem, 2.78vw, 2.5rem);
  line-height: 75%;
  margin: 1.5rem 0;

}

h3 {

  font-size: clamp(1.5rem, 1.39vw, 2rem);
  line-height: 75%;
  margin: 1.5rem 0;

}

p {

  font-size: clamp(1rem, 1.25vw, 1.125rem);

}

p.sub-heading {

  font-size: clamp(1rem, 1.39vw, 1.25rem);

}

a {

  color: var(--pink);
  background-image: linear-gradient(to right, var(--yellow), var(--yellow));
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 0% 5px;
  padding-bottom: 5px;
  transition: background-size 0.25s;

}

a:hover,
a:focus,
a.active {

  background-size: 100% 5px;

}

/* Replace system font with custom fonts once loaded */

.fonts-loaded body {

  font-family: var(--body-font);

}

.fonts-loaded h1,
.fonts-loaded h2,
.fonts-loaded h3 {

  font-family: var(--heading-font);

}

/* Set core body defaults */

body {

  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  padding: 0;

}

/* Shared lock */

.lock {

  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 1rem;

}

@media (min-width: 576px) {

  .lock {

    padding: 1rem 2rem;

  }

}

/* Icon styles */

button[class*=icon-] {

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;

}

[class*=icon-]::before {

  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;

}

.icon-left-arrow::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.641 511.641'%3e%3cpath fill='%2334314c' d='m148.32 255.76 237.76-237.76c4.053-4.267 3.947-10.987-.213-15.04-4.16-3.947-10.667-3.947-14.827 0l-245.333 245.333c-4.16 4.16-4.16 10.88 0 15.04l245.333 245.334c4.267 4.053 10.987 3.947 15.04-.213 3.947-4.16 3.947-10.667 0-14.827z'/%3e%3c/svg%3e");

}

.icon-right-arrow::before {

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.949 511.949'%3e%3cpath fill='%2334314c' d='m386.235 248.308-245.333-245.333c-4.267-4.053-10.987-3.947-15.04.213-3.947 4.16-3.947 10.667 0 14.827l237.76 237.76-237.76 237.867c-4.267 4.053-4.373 10.88-.213 15.04 4.053 4.267 10.88 4.373 15.04.213.107-.107.213-.213.213-.213l245.333-245.333c4.16-4.161 4.16-10.881 0-15.041z'/%3e%3c/svg%3e");

}

/* Header menu styles */

header#menu {

  position: fixed;
  width: 100%;
  z-index: 10;

}

header#menu nav {

  text-align: right;

}

header#menu nav a {

  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--purple);
  margin: 0 1rem;

}

header#menu nav a::after {

  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 700;

}

header#menu nav a:hover,
header#menu nav a:focus,
header#menu nav a.active {

  font-weight: 700;

}

/* Mobile slideout menu styles */

header#menu nav.slideout-menu {

  visibility: hidden;
  position: absolute;
  top: 0;
  right: -200px;
  display: inline-flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 3rem;
  width: 200px;
  height: 100vh;
  transition: .4s;

}

header#menu nav.slideout-menu a {

  margin: 1rem auto 1rem 0;

}

header#menu nav.slideout-menu.is-open {

  visibility: visible;
  right: 0;
  box-shadow: 0 0 10px var(--purple);

}

header#menu button.slideout-toggle {

  position: absolute;
  top: 1rem;
  right: 1rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  display: inline-block;
  width: 3rem;
  z-index: 10;
  cursor: pointer;

}

header#menu button.slideout-toggle span {

  display: block;
  background-color: var(--purple);
  height: 5px;
  width: 100%;
  margin: 3px 0;
  pointer-events: none;

}

@media (min-width: 576px) {

  header#menu button.slideout-toggle {

    display: none;

  }

}

/*== Section Styles ==*/

section header {

  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 300px;

}

section header > .lock h1 {

  display: inline-block;

}

section header > .lock p.sub-heading {

  max-width: 520px;

}

@media (min-width: 768px) {

  section header, section .content {

    min-height: 50vh;

  }

}

section .content {

  margin-bottom: 2rem;

}

section .content .lock > div + div {

  margin-top: 2rem;

}

#home header {

  background-image: linear-gradient(0deg, rgba(255, 116, 115, 0.65) 0%, rgba(255, 116, 115, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_576/good-neighbor/we-all-live-here.jpg');

}

#about header {

  background-image: linear-gradient(0deg, rgba(255, 201, 82, 0.65) 0%, rgba(255, 201, 82, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_576/good-neighbor/welcome.jpg');

}

#clients header {

  background-image: linear-gradient(0deg, rgba(71, 184, 224, 0.65) 0%, rgba(71, 184, 224, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_576/good-neighbor/together.jpg');

}

#work header {

  background-image: linear-gradient(0deg, rgba(197, 233, 155, 0.65) 0%, rgba(197, 233, 155, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_576/good-neighbor/believe.jpg');

}

#contact header {

  background-image: linear-gradient(0deg, rgba(213, 159, 255, 0.65) 0%, rgba(213, 159, 255, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_576/good-neighbor/better-days-ahead.jpg');

}

/* Resize header background images on larger screens */

@media (min-width: 576px) {

  #home header {

    background-image: linear-gradient(0deg, rgba(255, 116, 115, 0.65) 0%, rgba(255, 116, 115, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_768/good-neighbor/we-all-live-here.jpg');

  }

  #about header {

    background-image: linear-gradient(0deg, rgba(255, 201, 82, 0.65) 0%, rgba(255, 201, 82, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_768/good-neighbor/welcome.jpg');

  }

  #clients header {

    background-image: linear-gradient(0deg, rgba(71, 184, 224, 0.65) 0%, rgba(71, 184, 224, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_768/good-neighbor/together.jpg');

  }

  #work header {

    background-image: linear-gradient(0deg, rgba(197, 233, 155, 0.65) 0%, rgba(197, 233, 155, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_768/good-neighbor/believe.jpg');

  }

  #contact header {

    background-image: linear-gradient(0deg, rgba(213, 159, 255, 0.65) 0%, rgba(213, 159, 255, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_768/good-neighbor/better-days-ahead.jpg');

  }

}

@media (min-width: 768px) {

  #home header {

    background-image: linear-gradient(0deg, rgba(255, 116, 115, 0.65) 0%, rgba(255, 116, 115, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_992/good-neighbor/we-all-live-here.jpg');

  }

  #about header {

    background-image: linear-gradient(0deg, rgba(255, 201, 82, 0.65) 0%, rgba(255, 201, 82, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_992/good-neighbor/welcome.jpg');

  }

  #clients header {

    background-image: linear-gradient(0deg, rgba(71, 184, 224, 0.65) 0%, rgba(71, 184, 224, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_992/good-neighbor/together.jpg');

  }

  #work header {

    background-image: linear-gradient(0deg, rgba(197, 233, 155, 0.65) 0%, rgba(197, 233, 155, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_992/good-neighbor/believe.jpg');

  }

  #contact header {

    background-image: linear-gradient(0deg, rgba(213, 159, 255, 0.65) 0%, rgba(213, 159, 255, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_992/good-neighbor/better-days-ahead.jpg');

  }

}

@media (min-width: 992px) {

  #home header {

    background-image: linear-gradient(0deg, rgba(255, 116, 115, 0.65) 0%, rgba(255, 116, 115, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_1200/good-neighbor/we-all-live-here.jpg');

  }

  #about header {

    background-image: linear-gradient(0deg, rgba(255, 201, 82, 0.65) 0%, rgba(255, 201, 82, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_1200/good-neighbor/welcome.jpg');

  }

  #clients header {

    background-image: linear-gradient(0deg, rgba(71, 184, 224, 0.65) 0%, rgba(71, 184, 224, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_1200/good-neighbor/together.jpg');

  }

  #work header {

    background-image: linear-gradient(0deg, rgba(197, 233, 155, 0.65) 0%, rgba(197, 233, 155, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_1200/good-neighbor/believe.jpg');

  }

  #contact header {

    background-image: linear-gradient(0deg, rgba(213, 159, 255, 0.65) 0%, rgba(213, 159, 255, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/c_scale,w_1200/good-neighbor/better-days-ahead.jpg');

  }

}

@media (min-width: 1200px) {

  #home header {

    background-image: linear-gradient(0deg, rgba(255, 116, 115, 0.65) 0%, rgba(255, 116, 115, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/good-neighbor/we-all-live-here.jpg');

  }

  #about header {

    background-image: linear-gradient(0deg, rgba(255, 201, 82, 0.65) 0%, rgba(255, 201, 82, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/good-neighbor/welcome.jpg');

  }

  #clients header {

    background-image: linear-gradient(0deg, rgba(71, 184, 224, 0.65) 0%, rgba(71, 184, 224, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/good-neighbor/together.jpg');

  }

  #work header {

    background-image: linear-gradient(0deg, rgba(197, 233, 155, 0.65) 0%, rgba(197, 233, 155, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/good-neighbor/believe.jpg');

  }

  #contact header {

    background-image: linear-gradient(0deg, rgba(213, 159, 255, 0.65) 0%, rgba(213, 159, 255, 0.65) 100%), url('https://res.cloudinary.com/zheisey/image/upload/good-neighbor/better-days-ahead.jpg');

  }

}

/*== Block Styles ==*/

/* Image Grid block */

.image-grid .container {

  position: relative;
  flex: 1;
  min-width: 30%;
  height: 300px;
  margin: 0.5rem;
  overflow: hidden;

}

.image-grid .container img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.image-grid .container .text-overlay {

  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  background-color: rgba(255, 116, 115, 0.75);
  width: 100%;
  height: 0;
  padding: 2rem;
  transition: height 0.5s;

}

.image-grid .container .text-overlay .sub-heading {

  font-weight: 700;

}

.image-grid .container .text-overlay .wrapper {

  opacity: 0;
  height: 0;
  transition: all 0.75s;

}

.image-grid .container .text-overlay .wrapper a {

  color: var(--white);
  font-weight: 700;
}

.image-grid .container:hover .text-overlay,
.image-grid .container:focus .text-overlay,
.image-grid .container:hover .text-overlay .wrapper,
.image-grid .container:focus .text-overlay .wrapper {

  opacity: 1;
  height: 100%;

}

@media (min-width: 768px) {

  .image-grid {

    display: flex;
    flex-wrap: wrap;

  }

}

/* Logo Grid block */

.logo-grid {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.logo-grid .container {

  width: 50%;
  padding: 1rem;

}

@media (min-width: 576px) {

  .logo-grid .container {

    width: 25%;
    max-width: 225px;

  }

}

.logo-grid img {

  filter: grayscale(100%);
  transition: filter 0.5s;

}

.logo-grid img:hover {

  filter: grayscale(0%);

}

/* Rich Text block */

.rich-text img {

  margin: 2rem auto;

}

/* Carousel block */

.carousel {

  position: relative;

}

.carousel .items {

  display: flex;
  overflow: hidden;

}

.carousel .item {

  min-width: 100%;
  padding: 0 0.5rem;

}

.carousel .controls {

  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

}

@media (min-width: 1150px) {

  .carousel .controls {

    position: absolute;
    top: calc(50% - 24px);
    left: -64px;
    width: 1114px;

  }

}

.carousel .image {

  position: relative;
  height: 300px;

}

.carousel .image img {

  width: 100%;
  height: 100%;
  object-fit: cover;

}

.carousel .image .text-overlay {

  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  background-color: rgba(255, 116, 115, 0.75);
  width: 100%;
  height: 0;
  padding: 2rem;
  transition: height 0.5s;

}

.carousel .image .text-overlay .sub-heading {

  font-weight: 700;

}

.carousel .image .text-overlay .wrapper {

  opacity: 0;
  height: 0;
  transition: all 0.75s;

}

.carousel .image .text-overlay .wrapper a {

  color: var(--white);
  font-weight: 700;
}

.carousel .image:hover .text-overlay,
.carousel .image:focus .text-overlay,
.carousel .image:hover .text-overlay .wrapper,
.carousel .image:focus .text-overlay .wrapper {

  opacity: 1;
  height: 100%;

}

@media (min-width: 768px) {

  .carousel .item[data-type="image"] {

    min-width: 50%;

  }

}

@media (min-width: 992px) {

  .carousel .item[data-type="image"] {

    min-width: 33.33%;

  }

}

/*== Footer Styles ==*/

footer .lock {

  color: rgba(52, 49, 76, 0.75);

}

footer p {

  font-size: 0.75rem;

}

@media (min-width: 768px) {

  footer .lock {

    display: flex;
    justify-content: space-between;

  }

}
