<footer>

  <!-- Inline Scripts -->
  <script type="text/javascript">

    // IIFE wrapper start
    (function() {

      //== Load Fonts (prevent FOIT) ==//

      // https://gomakethings.com/preventing-foit-with-web-fonts-using-the-vanilla-js-fonts.load-method/

      {

        // If the browser supports the fonts.load() method
        if ('fonts' in document) {

        	// When all fonts are loaded
        	Promise.all([
        		document.fonts.load('400 1em DM Serif Display'),
        		document.fonts.load('400 1em Open Sans'),
        		document.fonts.load('700 1em Open Sans')
        	]).then(function () {
        		// The font is loaded
        		// Add our 'fonts-loaded' class
        		document.documentElement.className += 'fonts-loaded';
        	});

        }

      }

      //== Set Active Menu Item ==//

      {

        let navItems = Array.from(document.querySelectorAll('header#menu nav a'));

        // Set active menu item
        function setActiveMenuItem(event) {

          // If click was on currently active menu item, bail
          if (event.target.classList.contains('active')) return;

          navItems.forEach(item => {

            // Remove active class for all items
            item.classList.remove('active');

            // Add 'active' class to clicked menu item
            if (item === event.target) {

              item.classList.add('active');

            }

          });

        }

        // Listen for clicks on menu items
        navItems.forEach(item => {

          item.addEventListener('click', setActiveMenuItem, false);

        });

        // Listen for pageload event
        window.addEventListener('load', function(event) {

          // Set 'Home' as active menu item on pageload without a hash
          if (!window.location.hash) {

            navItems[0].classList.add('active');

          }

          navItems.forEach(item => {

            // Set active menu item on pageload
            if (item.getAttribute('href') === window.location.hash) {

              item.classList.add('active');

            }

          });

        }, false);

      }

    }()); // IIFE wrapper end

  </script>

  <!-- External Scripts -->
  {# TBD #}

</footer>
