<header id="menu">

  <div class="lock">

      <nav>

        {% for link in nav %}

          <a href="{{ link.url }}" data-text="{{ link.name }}">{{ link.name }}</a>{% if not loop.last %} · {% endif %}

        {% endfor %}

      </nav>

  </div>

</header>
