<!-- See: https://web.dev/codelab-specifying-multiple-slot-widths/ -->

{% if '/good-neighbor/' in image.imageSrc %}

  <img
    src="{{ site.cloudinary }},w_auto{{ image.imageSrc }}"
    srcset="
    {{ site.cloudinary }},w_576{{ image.imageSrc }} 576w,
    {{ site.cloudinary }},w_768{{ image.imageSrc }} 768w,
    {{ site.cloudinary }},w_992{{ image.imageSrc }} 992w,
    {{ site.cloudinary }},w_1200{{ image.imageSrc }} 1200w
    "
    sizes="
    (max-width: 992px) 100vw,
    (max-width: 1200px) 50vw,
    1200px
    "
    alt="{{ image.imageOverlayTitle }}"
    width="800"
    height="450"
    loading="lazy"
  >
  
{% else %}

<img src="{{ image.imageSrc }}" alt="{{ image.imageOverlayTitle }}" loading="lazy">

{% endif %}
