<!-- Section Header -->
{% macro sectionHeader(main, sub) %}

<header>

  <div class="lock">
    <h1>{{ main | safe }}</h1>
    <p class="sub-heading">{{ sub | safe }}</p>
  </div>

</header>

{% endmacro %}

<!-- Rich Text block -->
{% macro richText(body) %}

<div class="rich-text">

  {{ body | markdownify | safe }}

</div>

{% endmacro %}

<!-- Image Grid block -->
{% macro imageGrid(images) %}

<div class="image-grid">

  {% for image in images %}
  <div class="container" tabindex="0">
    <!-- Image Sizes include -->
    {% include "partials/image-sizes.html" %}

    {% if image.imageOverlayTitle and image.imageOverlayText %}
    <!-- Text overlay -->
    <div class="text-overlay">
      <p class="sub-heading">{{ image.imageOverlayTitle }}</p>
      <div class="wrapper">
        {{ image.imageOverlayText | markdownify | safe }}
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}

</div>

{% endmacro %}
