<!-- Section Header -->

{% macro sectionHeader(mainHeading, subHeading, bgImage) %}

<header{% if bgImage %} style="background-image: linear-gradient(0deg, rgba(255, 201, 82, 0.65) 0%, rgba(255, 255, 255, 0.65) 100%), url('{{ site.cloudinary }},w_auto/good-neighbor{{ bgImage }}');"{% endif %}>

  <div class="lock">
    <h1>{{ mainHeading | safe }}</h1>
    <p class="sub-heading">{{ subHeading | markdownify | safe }}</p>
  </div>

</header>

{% endmacro %}

<!-- Rich Text block -->

{% macro richText(body) %}

<div class="rich-text">

  {{ body | markdownify | replace( r/(src="(.*?)")/g , "src='https://res.cloudinary.com/zheisey/image/upload/f_auto,q_auto,dpr_auto,w_950/good-neighbor$2'" ) | safe }}

</div>

{% endmacro %}

<!-- Image Grid block -->

{% macro imageGrid(images) %}

<div class="image-grid">

  {% for image in images %}
  <div class="container" tabindex="0">
    <!-- Image Sizes include -->
    {% include "partials/image-sizes.html" %}

    {% if image.imageOverlayTitle and image.imageOverlayText %}
    <!-- Text overlay -->
    <div class="text-overlay">
      <p class="sub-heading">{{ image.imageOverlayTitle }}</p>
      <div class="wrapper">
        {{ image.imageOverlayText | markdownify | safe }}
      </div>
    </div>
    {% endif %}
  </div>
  {% endfor %}

</div>

{% endmacro %}

<!-- Logo Grid block -->

{% macro logoGrid(logos) %}

<div class="logo-grid">

  {% for logo in logos %}
  <div class="container">
    <img src="{{ site.cloudinary }},w_auto/good-neighbor{{ logo.imageSrc }}" alt="{{ logo.imageAltText }}">
  </div>
  {% endfor %}

</div>

{% endmacro %}

<!-- Carousel block -->

{% macro carousel(items) %}

<div class="carousel">

  <div class="items">

    {% for item in items %}
    <div class="item" data-type="{{ item.type }}">

      {% if item.type === 'text' %}
      <!-- Text item -->
      <div class="rich-text">

        {{ item.body | markdownify | safe }}

      </div>
      {% endif %}

      {% if item.type === 'image' %}
      <!-- Image item -->
      <div class="image">

        <!-- Image Sizes include -->
        <img
          src="{{ site.cloudinary }},w_auto/good-neighbor{{ item.imageSrc }}"
          srcset="
          {{ site.cloudinary }},w_576/good-neighbor{{ item.imageSrc }} 576w,
          {{ site.cloudinary }},w_768/good-neighbor{{ item.imageSrc }} 768w,
          {{ site.cloudinary }},w_992/good-neighbor{{ item.imageSrc }} 992w,
          {{ site.cloudinary }},w_1200/good-neighbor{{ item.imageSrc }} 1200w
          "
          sizes="
          (max-width: 768px) 100vw,
          535px
          "
          alt="{{ item.imageOverlayTitle }}"
          width="800"
          height="450"
          loading="lazy"
        >

        {% if item.imageOverlayTitle and item.imageOverlayText %}
        <!-- Text overlay -->
        <div class="text-overlay">
          <p class="sub-heading">{{ item.imageOverlayTitle }}</p>
          <div class="wrapper">
            {{ item.imageOverlayText | markdownify | safe }}
          </div>
        </div>
        {% endif %}

      </div>

      {% endif %}

    </div>
    {% endfor %}

  </div>

  <!-- Controls -->
  <div class="controls">

    <button class="icon-left-arrow" type="button" name="backward" aria-label="Left Arrow"></button>

    <button class="icon-right-arrow" type="button" name="forward" aria-label="Right Arrow"></button>

  </div>

</div>

{% endmacro %}
