<!-- Section Header -->
{% macro sectionHeader(main, sub) %}

<header>

  <div class="lock">
    <h1>{{ main | safe }}</h1>
    <p class="sub-heading">{{ sub | safe }}</p>
  </div>

</header>

{% endmacro %}

<!-- Rich Text block -->
{% macro richText(body) %}

<div class="rich-text">

  <div class="lock">
    {{ body | markdownify | safe }}
  </div>

</div>

{% endmacro %}

<!-- Image Grid block -->
{% macro imageGrid(images) %}

<div class="image-grid">

  <div class="lock">
    {% for image in images %}
    <div class="container" tabindex="0">
      <img src="{{ image.imageSrc }}" alt="{{ image.imageOverlayTitle }}">
      {% if image.imageOverlayTitle and image.imageOverlayText %}
      <!-- Text overlay -->
      <div class="text-overlay">
        <p class="sub-heading">{{ image.imageOverlayTitle }}</p>
        <div class="wrapper">
          {{ image.imageOverlayText }}
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>

</div>

{% endmacro %}
