backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)
publish_mode: editorial_workflow # Adds interface for drafting, previewing, and approving content
media_folder: "assets/images" # Tells Netlify CMS where to upload new photos
collections:
  - label: "Posts" # Used in the UI
    name: "post" # Used in routes, e.g., /admin/collections/blog
    folder: "posts" # The path to the folder where the documents are stored
    create: true # Allow users to create new documents in this collection
    slug: "{{ slug }}" # Filename template, e.g., YYYY-MM-DD-title.md
    fields: # The fields for each document, usually in front matter
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Image", name: "image", widget: "image", hint: "Ideal Width: 1208 pixels", required: false }
      - { label: "Tags", name: "tags", widget: "list", allow_add: true, default: "[post]" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Sections"
    name: "sections"
    description: "The main content sections of the website accessible via the navigation menu"
    folder: "sections"
    create: true
    slug: "{{ slug }}"
    fields:
      - { label: "Layout", name: "layout", widget: "hidden", default: "layouts/page.njk" }
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Order", name: "order", widget: "number" }
      - { label: "Permalink", name: "permalink", widget: "hidden", default: false }
      - label: "Header"
        name: "header"
        widget: "object"
        fields:
          - { label: "Main Heading", name: "mainHeading", widget: "markdown" }
          - { label: "Sub-Heading", name: "subHeading", widget: "text" }
          - { label: "Background Image", name: "bgImage", widget: "image" }
      - label: "Blocks"
        name: "blocks"
        widget: "list"
        types:
          - label: "Rich Text"
            name: "richText"
            widget: "object"
            fields:
              - { label: "Body", name: "body", widget: "markdown" }
          - label: "Image Grid"
            name: "imageGrid"
            widget: "object"
            fields:
              - label: "Image"
                name: "image"
                widget: "list"
                fields:
                  - { label: "Choose Image", name: "imageSrc", widget: "image", required: false }
                  - { label: "Image Overlay Title", name: "imageOverlayTitle", widget: "string", required: false }
                  - { label: "Image Overlay Text", name: "imageOverlayText", widget: "markdown", required: false }
