<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>{% if title %}{{ title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/css/main.css">

  </head>

  <body>

    <!-- Include "partials/header.html" here -->

    <main>

      {% block content %}{% endblock %}

    </main>

    {% include "partials/footer.njk" %}

  </body>

</html>
