{% extends "layouts/base.njk" %}

{% block content %}

<main id="main" role="main" data-page="{% if page.fileSlug == "" %}index{% else %}{{ page.fileSlug }}{% endif %}">

  {{ content | safe }}

</main>

{% endblock %}
