{% extends "layouts/base.njk" %}

{% import "partials/macros.njk" as macro with context %}

{% block content %}

<main id="main" role="main" data-page="{% if page.fileSlug == "" %}index{% else %}{{ page.fileSlug }}{% endif %}">

  <section id="{{ title | lower }}">

    <!-- Section Header -->
    {{ macro.sectionHeader(header.mainHeading, header.subHeading, header.bgImage) }}

    <!-- Section Content -->
    <div class="content">

      <div class="lock">

        {{ content | replace( r/(src="(.*?)")/g , "src='https://res.cloudinary.com/zheisey/image/upload/f_auto,q_auto,dpr_auto,w_950/good-neighbor$2'" ) | safe }}

      </div>

    </div>

  </section>

</main>

{% endblock %}
